* {
  margin: 0;
}

.header {
  background-color: #39aebc;
  padding: 20px;
  display: flex;
  color: white;
  gap: 20px;
}

.App > button {
  margin: 50px;
  padding: 10px;
  border: none;
}

.pop-up {
  position: absolute;
  top: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.231);
  display: flex;
  justify-content: flex-end;
}
